path {
    stroke-width:1; /* control the countries borders width */
    stroke: #525760; /* choose a color for the border */
    }
    @font-face {
        font-family: lcdphone;
        src: url(img/LCDPHONE.TTF);

    }
    .pseudo_header{
        text-align: center;
        background-color: black;
        background-image: url("img/banner.png");
        background-repeat:no-repeat;
        background-position: center;
        background-size:cover;
        width: 100%;
        float: left;

    }

    .title_container{
        width: 100%;
        position: relative;
        animation: mymove 10s;
        display: inline-block;
    }

    .title {
        font-size: 50px;
        font-family: lcdphone, Arial, sans-serif;
        color: #00FFB6;
        text-shadow: 3px 3px black;
    }

    @keyframes mymove {
        0%   {top: -400px;}
        25%  {top: -200px;}
        75%  {top: 25px}
        100% {top: 0px;}
    }

    body{
        background-color: black;
        height:100vh;
        background-repeat:no-repeat;
        background-position: center;
        background-size:100vw 100vh;
    }

    .website_container{
        width:100%;
        text-align: center;
    }

    .website_container > row{
        justify-content: center;
    }

    .info_container {
        width: 100%;
        text-align: center;
        display: inline-block;
        float: left;
        background-color: #000;
    }

    .regions_div{
        width: 100%;
        height: 440px;
        text-align: center;
        background-color: black;
        border: 5px dashed #00FFB6;
        margin-bottom: 20px;
        padding: 0px;

    }

    #map_container_section{
        float: left;
        width: 100%;
    }

    .map_main_box {
        padding: 0px;
    }

    .map_modalbox{
        display: none;
    }
     #map_container_section.quiz_active .map_modalbox {
        display: block;
    }
    #map_container_section:not(.quiz_active) .map_main_box{
        float: none!important;

    }
    .map_modalbox .panel-heading{
        font-weight: bold;
    }

    .map_modalbox .panel-body{
        height: 400px;
        position: relative;
    }

     #map_button_section{
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

    .data_api_container {
        width: 100%;
        height: min-content;
        background-color: #F26A68;
    }

    #youtubeModal > .modal-dialog{
        width: min-content;
        font-family: lcdphone,Arial,sans-serif;
        color: #00C990;
    }

    .modal-content{
        background-color: rgba(0,1,5,1);
        margin:5px;
    }

    .panel-title{
        background-color: #FFDF60;
    }

    .btn-warning {
        color:black;
        text-align: center;
        transform: translate(-50%,20%);
    }

    .quiz-score-box{
        font-size: 50px;
        color: #000000;
        font-weight: bold;
    }
    .country-display-box{
            font-size: 30px;
            color: #000000;
            font-weight: bold;
    }

    .quiz_timecounter_box{
            position: absolute;
            bottom: 20px;
            right: 15px;
            left: 15px;
    }
    .quiz_timecounter_box .time_text{
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 16px;
    }
    .quiz_timecounter_box .time_progress_box{
            display: block;
            position: relative;
            height: 15px;
            width: 100%;
            border: 1px solid rgb(51, 51, 51);
            border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            -webkit-border-radius: 20px;
            overflow: hidden;
    }
    .quiz_timecounter_box .time_progress_box span{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #333;
        border: 1px solid #333;
        bottom: 0px;
    }

    footer#footer {
        width: 100%;
        float: left;
        color: #fff;
        padding: 10px;
        text-align: center ;
        height: 200px

    }

    footer#footer .footer_social{
        list-style-type: none;
        margin: 0px auto;
        display: inline-block;
        padding: 0px;
    }
    footer#footer .footer_social li {
        float: left;
    }

    footer#footer .footer_social li a{
        color: #eee;
        float: left;
        width: 40px;
        font-size: 20px;

    }

    footer#footer .footer_social li a:hover{
        font-family: lcdphone, arial,sans-serif;
        color: #fff;
    }

    .panel-collapse{
        background-color: black;
    }

    /*soy edit here*/
    .quiz-score-container{
        background-color: black;
        color: #00FFB6;
        outline: 1px solid #00FFB6;
    }

    #game_start , #expand-btn {
        font-family: lcdphone,Arial,sans-serif;
        color: black;
        border-radius: 25px;
    }

    p.special-thanks,
    div.panel-heading.quiz-score-container,
    div.time_text, 
    #quiz_data_box,
    #quiz_score_data_box {
        font-family: lcdphone, arial,sans-serif;
    }
    /* //this is for mobile // */
    @media(max-width: 420px){

    }
    /* //this is for ipad and ipad pro // */
    @media(min-width: 760px){

    }
